/config/config_user.json
/config/config_servers.json
/classes/_generate_doc.php
/tmp/*
/views/singleserver.php
/config/__2_delete_config_user.php
/classes/render-adminlte.class.php
/views/dump.php
/api/cli.php