/classes/_generate_doc.php
/classes/render-adminlte.class.php
/config/config_user.json
/config/config_servers.json
/config/__2_delete_config_user.php
/nbproject/*
/tmp/*
/vendor/admin-lte
/vendor/Chart.js
/vendor/datatables
/vendor/font-awesome
/vendor/jquery
/vendor/twitter-bootstrap
/views/dump.php
/views/singleserver.php
text_4_video__install.txt
.vscode/launch.json
