/admin/_2_delete_inc_protect.php
/classes/_generate_doc.php
/config/__2_delete_config_user_default.php
/config/__2_delete_config_user.php
/config/config_user.json
/config/config_servers.json
/config/__2_delete_config_default.php
/javascript/codemirror/
/templates/default_classic/
/templates/singleserver/
/views/__unused_update.php
/views/selectserver.php